<%= form_for @profile do |f| %>

  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class=" container">

   <div class="form-row, mb-4">
        <%= f.label :profile_image, "Upload Profile Pic", class: "font-weight-bold" %>
        <%= f.file_field :profile_image, class: "form-control bg-transparent border-0" %>
    </div>
   <div class="form-row, mb-4">
        <%= f.label :firstname, "User First Name", class: "font-weight-bold" %>
        <%= f.text_field :firstname, class: "form-control" %>
    </div>

    <div class="form-row, mb-4">
        <%= f.label :lastname, "User Last Name", class: "font-weight-bold" %>
        <%= f.text_field :lastname, class: "form-control" %>
    </div>

    <div class="form-row, mb-4">
        <%= f.label :address, "User Address", class: "font-weight-bold" %>
        <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-row, mb-4">
        <%= f.label :phone, "User Phone", class: "font-weight-bold" %>
        <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-row, mb-4">
        <%= f.label :description, "User Description", class: "font-weight-bold" %>
        <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-row mt-3">
    <%= f.submit "Submit", class: "btn btn-success" %>
    </div>


</div>

<% end %>