<div class="container mt-4">

    <h4> Welcome to your profile page <strong><i><%= current_user.username %></i></strong> </h4>

    <% unless @profile %>
    <%= link_to 'Create your profile', new_user_profile_path(current_user.id), class: "btn btn-primary" %>
    <% end %>

    <div class=" container">

    <% @profiles.each do |profile| %>

    <% if @profile.profile_image.attached? %>
    <%= image_tag profile.profile_image, :size => "200x200", class: "profile-picture" %> 
    <% end %>
    <h5> First name: <%= profile.firstname %> </h5>
    <h5> Last name: <%= profile.lastname %> </h5>
    <h5> Your email: <%= current_user.email %> </h5>
    <h5> Address: <%= profile.address %> </h5>
    <h5> Phone: <%= profile.phone %> </h5>
    <h5> Description: <%= profile.description %> </h5>

    <h4> <%= link_to "Edit", edit_profile_path(profile), class: "btn btn-info" %> </h4>

    <% end %>

    </div>
</div>