<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Profile Picture:</strong>
  <%= image_tag @profile.profile_image %>
  
</p>
<p>
  <strong>First Name:</strong>
  <%= @profile.firstname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>