<h1>Profiles#show</h1>

  <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
  <%#= link_to  "Update Profile", edit_user_profile_path(current_user.id, current_user.id), :class => "nav-item nav-link" %>


<div class="container mt-4">
  <h4> Welcome to your profile page <strong><i><%= current_user.username %></i></strong> </h4>

  <p id="notice"><%= notice %></p>

  <p>
    <%# <strong>Profile Picture:</strong> %>
    <%= image_tag @profile.profile_image, :size => "200x200", class: "profile-picture" %>
  </p>
  <p>
    <strong>First Name:</strong>
    <%= @profile.firstname %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @profile.lastname %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @profile.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @profile.phone %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @profile.description %>
  </p>

  <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-info" %>

</div>