<%= form_for @menu do |f| %>
    <% if profile.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(profile.errors.count, "error") %> prohibited this menu from being saved:</h2>

            <ul>
            <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
<div class="container">
    <%# form fields go here %>
    <div class="form-row">
        <%= f.label :menu_name, "Menu Name" %>
        <%= f.text_field :menu_name, class: "form-control" %>
    </div>


    <div class="form-row mt-3">
            <%= f.submit "Create new menu", class: "btn btn-primary" %>
    </div>
</div>

<% end %>