<%= form_for @fooditem do |f| %>

    <% if profile.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(profile.errors.count, "error") %> prohibited this item from being saved:</h2>

            <ul>
            <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="container">

        <div class="form-row mb-4">
            <%= f.label :fooditem_image, "Upload food pic" %>
            <%= f.file_field :fooditem_image, class: "form-control bg-transparent border-0" %>
        </div>

        <div class="form-row mb-4">
            <%= f.label :name, "Item Name" %>
            <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-row mb-4">
            <%= f.label :quantity, "Quantity" %>
            <%= f.text_field :quantity, class: "form-control" %>
        </div>

        <div class="form-row mb-4">
            <%= f.label :unitprice, "Unit Price" %>
            <%= f.text_field :unitprice, class: "form-control" %>
        </div>

        <div class="form-row mb-4">
            <%= f.label :itemcategory, "Item Category" %>
            <%= f.text_field :itemcategory, class: "form-control" %>
        </div>

        <div class="form-row mb-4">
        <input class="form-check-input" type="radio">
            <label class="form-check-label">
            <%# @menus.each do |menu| %>
                <%= collection_check_boxes(:fooditem, :menu_ids, Menu.all, :id, :menu_name) %>
            <%# end %>
            </label>
        </div>

        <div class="form-row mt-3">
            <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
    </div>


<% end %>