<h1>Fooditems#show</h1>

<div class="mb-4">
<%= link_to 'Back', fooditems_path, class: "btn btn-secondary" %>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <% if @fooditem.fooditem_image.attached? %>
                <%= image_tag @fooditem.fooditem_image, :size => "200x200", class: "profile-picture" %>
            <% end %>
        </div>

        <div class="col-md-8">
            <p class="mt-4">
                <strong>Item Name:</strong>
                <%= @fooditem.name %>
            </p>
            <p class="mt-4">
                <strong>Item Quantity:</strong>
                <%= @fooditem.quantity %>
            </p>  
            <p class="mt-4">
                <strong>Unit Price:</strong>
                $<%= @fooditem.unitprice %>
            </p>  
            <p class="mt-4">
                <strong>Item Category:</strong>
                <%= @fooditem.itemcategory %>
            </p>      
        </div>
    </div>
</div>

