<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container mt-5 pt-5">
		<div class="d-flex justify-content-center">
			<div class="user_card">
				<div class="d-flex justify-content-center ">
					<div class="brand_logo_container">
						<img src="/donutlogo.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="justify-content-center form_container">
          <div class="d-flex justify-content-center login_container ">
            <h1> Log in </h1>
          </div>
					<form>
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: "form-control input_user"%>
						</div>
					<div class="input-group mb-2">
						<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: "form-control input_pass"%>
						  </div>
						</div>
						<div class="form-group">
							<div class="d-flex justify-content-center custom-control custom-checkbox mt-3">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
                <%= f.submit "Log in", name: "button", class: "btn login_btn"%>
              </div>

           <div class="d-flex justify-content-center mt-1 login_container actions">
            <%= link_to  "Sign Up", new_user_registration_path %>
            
            </div>
				   </div>
					</form>
				</div>
			</div>
		</div>
	</div>
  <% end %>
