<!DOCTYPE html>
<html>
  <head>
    <title>IQueue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.typekit.net/aab2ewm.css">
  <link rel="stylesheet" href="https://use.typekit.net/aab2ewm.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />

  </head>

  <body>

    <% if notice %>
      <p class="alert alert-success notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

 <%# Nav Bar %>

  <header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
		<div class="container">
			<a href="<%= root_path %>" class="navbar-brand"> <img src="/donutlogo.png" width="30" height="30" alt=""></a>
      <% if user_signed_in? %>
      <% if current_user.admin? %>
             <h4>Admin User</h4>
      <% end %>
			<% end %>
			<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
				<span class="menu-icon-bar"></span>
			</button>
			
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li>
          <%= link_to "Home", root_path, :class => "nav-item nav-link" %>
          </li>
          <li>
          <%= link_to "Menu", menus_path, :class => "nav-item nav-link" %>
          </li>
            <% if user_signed_in? %>
             <%#= link_to "Logout", destroy_user_session_path, method: :delete, :class => "nav-item nav-link" %>
              <li class="dropdown">
                <a href="#" class="nav-item nav-link" data-toggle="dropdown">My Account</a>
                <div class="dropdown-menu">
                  <div class="dropdown-item">

                  <% if @profile = true %>
                  <%= link_to  "Profile", user_profile_path(current_user.id, current_user.id), :class => "nav-item nav-link" %>
                  <% else %>
                  <%= link_to "Create Profile", new_user_profile_path(current_user.id), :class => "nav-item nav-link" %>
                  <% end %>

                  </div>
                  <div class="dropdown-item">
                  <%= link_to  "Logout", destroy_user_session_path, method: :delete, :class => "nav-item nav-link" %>
                  </div>
                </div>
              </li>
            <% else %>
          <li class="dropdown">
						  <a href="#" class="nav-item nav-link" data-toggle="dropdown">My Account</a>
						  <div class="dropdown-menu">
              <div class="dropdown-item">
							  <%= link_to  "Sign Up", new_user_registration_path, :class => "nav-item nav-link" %>
              </div>
							<div class="dropdown-item">
							  <%= link_to  "Log In", new_user_session_path, :class => "nav-item nav-link" %>
              </div>
						  </div>
					  </li>
          <% end %>
				</ul>
			</div>
		</div>
	</nav>
</header>


    <%= yield %>

  </body>
</html>
